/* ==== Style Umum ==== */
body {
  /* font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
  min-height: 100vh; */

  margin: 0;                    /*ini agar footer turun*/
  padding: 0;
  background-color: white;
  background-image:url(/assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* ==== Navbar ==== */
header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

header h1 {
  font-size: 20px;
  color: #46e54e;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
}

header nav a:hover {
  color: #4F46E5;
}

header nav img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: contain;
  vertical-align: middle;
  transition: transform 0.2s ease;
  transition: filter 0.2s ease;
}

header nav img:hover {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%); /* ubah jadi hitam penuh */
}


/* ==== Konten ==== */
main {
  max-width: 1000px;
  /* margin: 40px auto; */
  padding: 20px;
  flex: 1;
}

/* ==== Halaman Login ==== */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: auto; /* Posisikan di tengah secara otomatis */
  padding: 30px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Pusatkan di tengah layar */
}


.login-container h2 {
  color: #4F46E5;
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #4F46E5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #3730A3;
}

.register-text {
  margin-top: 15px;
  color: #666;
}

.register-text a {
  color: #4F46E5;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}


/* ==== Footer ==== */
footer {
  text-align: center;
  background: #f1f1f1;
  padding: 15px;
  margin-top: 50px;
  color: #666;
}